<h1>Services</h1>
<p>we provide a great tool to manage Facebook pages and generate sales</P>
	<div class="btn-group">
  <button type="button" class="btn btn-danger">Sign up</button>
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">Facebook</a></li>
    <li><a href="#">Shop</a></li>
    <li><a href="#">Ads</a></li>
    
   
  </ul>
</div>
